html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
    align-content: center;
    text-align: center;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
    text-align: center;
  }

  .HomeJum {
    margin-top: 50px;
  }
  .jumbotron {
    color: white;
    font-size: 24px;
    background-image: url('https://images.pexels.com/photos/1134166/pexels-photo-1134166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;

  }